@charset="UTF-8"
html{
	height: 100%;
	min-height: 100%;
}
body{
	height: 100%;
	min-height: 100%;
	background: #DBDBDB;
}
.container{
	height: 100%;
	min-height: 100%;
}
.banner img{
	width: 100%;
}
.col-xs-12{
	margin-top: 10px;
}
.col-xs-12 p{
	font-size: 1em;
	font-family: "微软雅黑";
}
.col-xs-12 i{
	font-size: 4em;
}
#fade-in-out{
	margin-left: 40%;
	background: #FF2DA2;
	color: #DBDBDB;
	padding: 5px;
}
.row-fade-in{
	display: none;
}